@charset "utf-8";

html {
	box-sizing: border-box;
  }
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	font-size: 150%;
	line-height: 1.4;
	width: 80%;
	margin: 0 auto;
}
